* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #add8e6; */
  background-color: #ffffff;
  color: #606060;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  color: #606060;
  text-align: center;
}
.content {
  margin: 1rem auto 6rem;
}
nav, .content, .footer-content {
  width: 1100px;
}
.content, .footer-content {
  padding: 1em;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}

/*** Navbar ***/
.navbar {
  position: sticky;
}
nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  width: 1100px;
  margin: auto;
}
nav a, nav li {
  color: #4d4d4d;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar {
  background: #ffffff;
  padding: 1em 0;
}
.nav-flex-item img {
  width: 24px;
}
.nav-flex-item img.logo {
  display: block;
  width: 120px;
  margin: auto;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.nav-flex-item {
  width: 250px;
}
.nav-flex-item a {
  display: block;
  margin: auto;
}
.nav-top-level {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.nav-top-level.right {
  justify-content: flex-end;
}

.nav-top-level li {
  padding: 1em;
  vertical-align: middle;
  cursor: pointer;
}

/** Navbar Dropdown **/

.nav-dropdown {
  transition-duration: 1s;
  position: absolute;
  margin: 0 0 0 .25rem;
}

/** navbar dropdown hidden by default **/
.nav-dropdown li {
  display: none;
  list-style: none;
  transition: all 1s ease;
  top: 0rem;
  left: 1rem;
  padding: 0;
  border: lightgray solid 1px;
  background-color: hsl(0, 0%, 100%, .75);
}

/** navbar links **/
.nav-dropdown a {
  display: block;
  padding: 10px 16px;
}

/** navbar can change color of dropdown links **/
.nav-dropdown a:hover {
  color: #4b9eba;
  background-color: white;
}

/** navbar show dropdown menu on hover **/
.nav-top-level >:hover li {
  display: block;
}

/*** Content ***/

.content h2 {
  padding: 1rem 0 1rem 0;
}
.hero {
  background: url("/images/Untitled_Artwork 3.png");
  background-size: cover;
  height: 80vh;
  margin-bottom: 60px;
  display: flex;
}
.hero h1 {
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px black;
  font-weight: 100;
  margin-top: 30rem;
}
.hero p {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
  margin-top: 1em;
  font-weight: 100;
}

.signup1 form div, .checkout form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

.hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0 2rem 0;
}

/*** Products ***/
.items-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-evenly;
  list-style: none;
  max-width: 1200px;
  margin: auto;
}
.items-list::after {
  content: "";
  flex-basis: 24%;
}

/* .items-list img {
  height: 200px;
  width: auto;
} */

.items-list img, .profilepic {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
  /* box-shadow: 3px 3px 10px rgb(205 205 205); */
  margin: 1rem;
  border-radius: 5px;
  /* background-color: white; */
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.item-container {
  text-align: center;
  width: 24%;
}
.item-image {
  background-color: #ffffff;
  /* box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 3px 6px 0 rgb(0 0 0 / 10%); */
}
.item-container > img {
  width: 100%;
}

.shopname {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #add8e6;
}

.teaprice {
  padding: 1px;
  color: #5579c6 ;
  text-align: center;
  font-weight: 600;
  
}


/*** Orders ***/
.ordersinfo {
  text-align: center;
  min-height: 60vh;
  margin: 1rem auto auto auto;
}
.ordersinfo table {
  text-align: center;
  border-collapse: collapse;
  margin: 1rem auto auto auto;
}
.content-order {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

.content-order img {
  height: 50px;
  width: auto;
}

.content-order td, .content-order tr {
  border-bottom: 1px solid #606060;
  font-weight: 300;
  padding: 0;
}

/** Users **/
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;

}

.admindelete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  border: 2px solid white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  margin: 1rem;
}

.admin {
  padding: 1rem;
  text-transform: uppercase;
}

/*** Cart ***/
.cart1 {
  color: black;
  font-weight: 200;
  font-size: 35px;
  padding: 0 0 1rem 0;
  font-weight: 420;
}

.cart2 {
  color: black;
  font-weight: 200;
  font-size: 35px;
}

.cart3 {
  color: black;
  font-style: oblique;
}

.cart table {
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  text-align: left;
  width: 150px;
  text-align: center;
}

th {
  font-weight: 600;
  font-style: oblique;
  font-size: large;
  padding: 0 0 5px 0;
}

td, tr {
  border-bottom: 1px solid white;
  font-weight: 300;
  padding: .5rem 0 .5rem 0;
}

.cart-table img, .order-table img {
  height: 85px;
  width: auto;
}

.cartcheckout tbody{
  padding: 1rem 1rem 0 1rem;
}

/*** Check Out ***/
.checkout {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  right: 40%;
  width: 250px;
}

/**Admin Buttons**/
.admindeleteb, .addproduct {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.addproduct:hover,
.addproduct:active,
.admindeleteb:hover,
.admindeleteb:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.addproduct:active,
.admindeleteb:active {
  opacity: .5;
}

/***Add to Cart Buttons***/
.addtocart, .loginb, .checkout {
  align-items: center;
  background-color: #78a2cc;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #ffffff ;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 10;
  justify-content: center;
  line-height: 1;
  margin: 1rem;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.checkout {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #87ceeb ;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 10;
  justify-content: center;
  line-height: 1;
  margin: 1rem;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20rem;
}

.loginb:hover,
.addtocart:hover,
.checkout:hover {
  box-shadow: #78a2cc 0 0 0 3px, transparent 0 0 0 0;
}

/***Delete Buttons***/
input {
  width: 80%;
}

.delete {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #87ceeb ;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 10;
  justify-content: center;
  line-height: 1;
  margin: 1rem;
  outline: none;
  padding: .5rem .6rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete:hover {
  box-shadow: #78a2cc 0 0 0 3px, transparent 0 0 0 0;
}

.about {
  padding: 2rem;
  margin: 1rem;
}
  
.abouttitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #88aed0;
  padding: 1rem;
  font-size: 50px;
}

.aboutbody {
  display: flex;
  justify-content: center;
  align-content: center;
  font-style: oblique;
  font-size: 20px;
}

.boba, .profile {
  background: #ffffff;
  padding: 2rem;
  color: #606060 ;
  margin: 1rem;
} 

.profile2 {
  padding: .3rem;
  color: #606060 ;
  margin: 1rem;
}

.bobatitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #F6DAE4;
  padding: 1rem;
  font-size: 50px;
}

.aboutboba {
  display: flex;
  justify-content: center;
  align-content: center;
  font-style: oblique;
  font-size: 20px;
}

.drink {
  padding: 2rem;
  margin: 1rem;
}

.drinktitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #c1e7e3;
  padding: 1rem;
  font-size: 50px;
}

.aboutdrink {
  display: flex;
  justify-content: center;
  align-content: center;
  font-style: oblique;
  font-size: 20px;
}

.login-container {
  background-color: #ffffff;
  color: #606060;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 6px;
  width: 400px;
  margin: 40px auto;
  padding: 20px 0;
}
.login-container h1 {
  color: #78a2cc;
  font-size: 2.25em;
  font-weight: 100;
  margin-bottom: 1em;
}
.login-container .row {
  margin: 1em auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 250px
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 250px;
}
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 250px;
}
.label1 {
  font-size: larger;
  font-weight: 100;
}

/*** Products ***/
.productname1 {
   text-decoration: none;
   color: #606060;
   font-size: 22px;
   position: relative;
   padding: 0.5rem;
}

.productname1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.productname1:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*** Admin panel ***/

.newproduct {
  border: 2px solid #606060;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
}
.addproduct {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  justify-content: space-evenly;
  align-items: flex-start; 
}
textarea {
  width: 400px;
  height: 120px;
  border: 3px solid white;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  resize: none;
}



.product1 {
  font-weight: 200;
  font-style: oblique;
  font-size: 60px;
}

.product2 {
  color: black;
  font-weight: 200;
  font-style: oblique;
  font-size: 40px;
}

.producttea {
  color:#B1907F;
  font-weight: 320;
  font-size: 40px; 
  text-align: left;
  margin-left: 20px;
  transition: all .2s ease-in-out
}

.productsyr {
  color: #82AC85;
  font-weight: 320;
  font-size: 40px; 
  text-align: left;
  margin-left: 20px;
  transition: all .2s ease-in-out
}

.producttop {
  color: #78a2cc;
  font-weight: 320;
  font-size: 40px; 
  text-align: left;
  margin-left: 20px;
  transition: all .2s ease-in-out
}

.merch {
  color: #d291bc;
  font-weight: 320;
  font-size: 40px; 
  text-align: left;
  margin-left: 20px;
  transition: all .2s ease-in-out
}

.milk {
  color: #F4E6BA;
  font-weight: 320;
  font-size: 40px; 
  text-align: left;
  margin-left: 20px;
  transition: all .2s ease-in-out
}


/* Kits */
.kits {
  list-style: none;
  margin: 0;
}

.kitsdiv {
  letter-spacing: .15rem;
  font-size: larger;
}

.kitform {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  border: 3px solid white ;
  padding: 1rem;
  margin: 1rem 0 0 0;
}

.kitform p {
  font-size: large;
  color: black;
  margin: 5px;
  text-align: center;
}

.kitoption {
  display: flex;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* text-align: center; */
  padding: 4px;
  margin: 2px;
}

.welcome {
  font-weight: 100;
  color: white;
  font-size: 50px;
}
.shopnow {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #add8e6 ;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 20px;
}
.shopnow:hover {
  color: #ffffff;
}

.shopnow:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #add8e6  ;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 20px;
}

.shopnow:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 20px;
}

.shopnow:after {
  background-color: #add8e6 ;
  border-radius: 20px;
}

.shopnow span {
  z-index: 1;
  position: relative;
}

/*** Single Product ***/

.product-content .row {
  margin-bottom: 24px;
}
.product-content .column-left {
  width: 50%;
}
.product-content .column-right {
  width: 46%;
}
.product-content .column-left img {
  background-color: #ffffff;
  width: 100%;
  padding: 0 120px;
}
.producttitle {
  font-size: 50px;
  font-weight: 100;
}
.productinfo1 {
  display: flex;
  flex-direction: column;
}
.productpr {
  font-weight: 600;
  font-size: 1.5em;
}
.prodquantity {
  font-weight: 500;
  font-size: 20px;
}
.product-content .addtocart {
  margin: 0;
}

/*** Footer ***/
.footer {
  background-color: #ffffff;
  color: #606060;
  padding: 2em 0;
}
.footer-content {
  margin: auto;
}
.footer h3 {
  margin-bottom: 1em;
}
.footer p {
  margin: 1em 0;
}
.footer ul {
  list-style-type: none;
  margin: 1em 0;
}
.footer .column-right {
  text-align: right;
}
.footer .column-left img {
  width: 48px;
}

/*** Responsive Settings ***/

@media (max-width: 1199px) {
  nav, .content, .footer-content {
    width: 90%;
  }
}
